[iso]
path=/mnt/ISO/SP2devel
url=http://download.opensuse.org/distribution/leap/42.2/iso/

[vm]
hypervisor=kvm
distro=SLE12SP2
vcpu=2
ram=2048
imagesize=8G
keymap=english-us
timezone=Europe/Stockholm
autoyastfile=havm.xml
extraargs=autoyast=device://vdc/{autoyastfile}

[network]
name=HAnet
range=192.168.12
uuid=851e50f1-db72-475a-895f-28304baf8e8c
hostmac=52:54:00:89:a0:b9
interface=virbr1
mac=52:54:00:c7:92:

[storage]
path=/var/lib/libvirt/images
libvirtpool=hapool
sharedname=hashared
shareddevice=/dev/vdb
sharedsize=1G
havmdisk=havm_xml.raw

[user]
keymap=us
sshkey=id_rsa_ha
name=krig
password=linux

[scenario]
default=2node
