[iso]
path=/mnt/ISO/SP2devel
url=http://download.opensuse.org/distribution/leap/42.2/iso/

[vm]
hypervisor=kvm
distro=SLE12SP2
vcpu=2
ram=2048
imagesize=8G
keymap=english-us
timezone=Europe/Stockholm
autoyastfile=havm.xml
extraargs=autoyast=device://vdc/{autoyastfile}

[storage]
path=/var/lib/libvirt/images
libvirtpool=hapool
sharedname=hashared
shareddevice=/dev/vdb
sharedsize=1G
havmdisk=havm_xml.raw

[user]
keymap=us
sshkey=id_rsa_ha
name=krig
password=linux

[scenario]
default=2node
